
$bg-color: var(--bg-color);
$card-color:var(--card-color);
$text-main: var(--text-main);
$text-form: #1b1c21;
$text-grey: var(--text-grey);
$text-disabled: var(--text-disabled);
$input-default:var(--input-default);
$input-focus: var(--input-focus);
$input-hover: var(--input-hover);
$input-valid:var(--input-valid);
$input-invalid: var(--input-invalid);
$shadow-color: var(--shadow-color);
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$anchor-color: var(--anchor-color);
$placeholder-color: var(--placeholder-color);
$a-hover-color: var(--a-hover-color);
$github-color: var(--github-color);

html[data-theme='light'] {
    --bg-color:#d8dbe6;
    --card-color:#e2e4ef;
    --text-main: #1b1c21; 
    --text-grey: #414244;
    --text-disabled: #707178;
    --input-default:#dacff9;
    --input-focus: #ece6fe;
    --input-hover: #c9c2dc;
    --input-valid:#c6b8ef;
    --input-invalid: #f0c5c5;
    --shadow-color:#00000033;
    --primary-color: #ba89fa;
    --secondary-color: #e479a2;
    --anchor-color: #8660b6;
    --placeholder-color: #71757a;
    --a-hover-color:#414244;
    --github-color: #1b1c21;
}
html[data-theme='dark']{
--bg-color: #1b1c21;
--card-color:#222328;
--text-main: #f3f5f8; 
--text-grey: #afb0b7;
--text-disabled: #707178;
--input-default:#b3acc3;
--input-focus: #e6dffc;
--input-hover: #c4c0d1;
--input-valid:#c6b8ef;
--input-invalid: #f0c5c5;
--shadow-color:#00000033;
--primary-color: #ba89fa;
--secondary-color: #e479a2;
--anchor-color: #d8799d;
--placeholder-color: #71757a;
--a-hover-color:#F1E6F9;
--github-color: #e6dffc;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;  
    font-family: 'Mulish', sans-serif;
}
body {
    background-color: $bg-color;
    color: $text-main;
}
.theme-btn-header {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 20px;
    transition: 0.3s;
}
.fa-github:before {
    color: $text-main;
}
.theme-button {
    transition: 0.2s;
    cursor: pointer;
    &:hover {
        transform: scale(0.95);
    }
}
.container-lg {
    max-width: 960px;
    margin-top: 80px;
}
.main-card {
    background-color: $card-color;
    border-radius: 25px;
    box-shadow: 0px 3px 15px $shadow-color;
    
}
.fade {
    animation: fadeIn 1s forwards;
    -webkit-animation: fadeIn 1s forwards;
    -moz-animation: fadeIn 1s forwards;
    -o-animation: fadeIn 1s forwards;
    -ms-animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

form {
    padding: 0 10px;
    h2, h3 {
        text-align: center;
    }
    h2 + p {
       color: $text-main;
    }
    h2 {
        margin-top: 40px;
        }
    h3 {
        font-size: 18px;
        color: $primary-color;
        background: repeating-linear-gradient(70deg, 
                        $primary-color 0%, 
                        $secondary-color 50%,
                        $primary-color 100%) 200%,
                        transparent;
        animation: textclip 6.5s linear infinite;
        background-size: 200% 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        z-index: 1;
    }
    p {
        font-size: 14px;
        margin-top: 30px;
        margin-bottom: 0;
    }
    .sign-up {
        margin-top: 5px;
        font-size: 12px;
        color: $text-grey;
    }

}
.smoke-img {
    border-radius: 25px 0px 0px 25px;
}
img.responsive-md {
    display: none;
}
.container-inputs {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}
label {
    font-size: 10px;
    color: $text-grey;
    padding-left: 2px;
    margin-top: 10px;
}
input {
    font-family: 'Mulish', sans-serif;
    background-color: $input-default;
    font-size: 12px;
    width: 182px;
    height: 27px;
    border-radius: 8px;
    border: 1px solid $input-default;
    outline: none;
    padding-left: 5px;
    padding-bottom: 1px;
    -webkit-transition: 0.2s;
    transition: .2s;
    box-shadow: 0px 2px 6px $shadow-color;
    
    &:focus { 
        background-color: $input-focus;
        border: 3px solid $input-focus;
        transform: scale(1);
        transform: 0.4s;
    }
    &:focus::placeholder {
    color: transparent;
    }
    &:hover:not(:focus) {
    background-color: $input-hover;
    border: 3px solid $input-hover;
    transform: scale(1.03);
    }
    &:hover:not([type=password]):valid  {
        background-color: $input-valid;
        border: 3px solid $input-valid;
        transition: 0.4s;
    }  
    &:not([type=password]):not(:placeholder-shown):invalid {
    background-color: $input-invalid;
    border:1px solid $input-invalid;
    transition: 0.4s;
    }
    &:not([type=password]):valid {
        background-color: $input-valid;
        border: 2px solid $input-valid;
        transition: 0.4s;
    }
}
input:-webkit-autofill, 
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--input-valid) inset;
  transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill:valid {
    -webkit-box-shadow: 0 0 0px 1000px var(--input-valid) inset;
    border: 3px solid $input-valid;
}
::placeholder {
    color: $placeholder-color;
    transition: 0.3s;
}
label,input{
  display:flex;
  flex-direction:column;
}
.button {
    margin-top: 25px;
    height: 30px;
    width: 137px;
}
button {
    color: $bg-color;
    font-size: 12px;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 194px;
    border: none;
    background: linear-gradient(90deg, 
                        rgb(174, 128, 234) 0%,
                        rgb(184, 104, 135) 80%, 
                        rgb(184, 104, 135) 100%);
    background-size: 200% 100%;
    // background-position: right;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.6);
    transition: all 0.3s ease-out;
 

    &:focus, &:hover {
        outline: 0;
        transform: scale(1.03);
    }
    &:active {
        transform: scale(0.98); 
    }
}
@keyframes textclip {
    100% {
        background-position: left;
    }
}
.member {
    font-size: 12px;
    margin-left: 169px;
    padding-left:10px;
    color: $text-grey;
    outline: none;
}
p.member {
    margin-top: 15px;
}
a {
    color: $anchor-color;
    text-decoration: none;

    &:visited {
        color: $anchor-color;
    }
    &:hover {
    color: $a-hover-color;
    }
    &:focus {
        outline: none;
        color: $text-main;
    }
    .github-link{
        color: $text-main;
        margin-right: 15px;
        transition: 0.2s;
        &:visited {
            color: $text-main;
        }
        &:hover {
                transform: scale(0.95);
        }
    }
    
}
@media (min-width: 991px){
    input{
        width: 240px;
    }
    .click-group {
        margin-top: 10px;
    }
    p.member {
        margin-top: 15px;
    }
}
@media (max-width: 991px) {
    .container-lg {
    max-width: 720px;
    margin-top: 80px;
    }
    button {
    margin: 0;
    margin-left:130px;
    }
    .member {
    margin: 0;
    margin-left:105px;
    margin-top: 10px;
    }
}
@media (max-width: 767px) {
    .container-lg {
        max-width: 460px;
    }
    .smoke-img {
        display: none;
    }
    img.responsive-md {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 25px 25px 0 0;
    }
    .container-inputs {
        margin-left: 17px;
        margin-top: 15px;
        
    }
    p {
        margin-left: 16px;
        margin-right: 7px;
    }
    button {
        margin-left: 135px;
    }
    .member {
        margin-top: 15px;
        margin-bottom: 15px;

    }
}
@media (max-width: 576px) {
    .container-lg {
        margin-top: 20px;
    }
    .col-sm-6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 409px;
    }
    input, label {
        width: 80%;
    }
    .form-header {
        margin-top: 20px;
    }
    .form-description {
        width: 84%;
    }
    .text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p.sign-up {
        font-size: 10px;
        width: 85%;
    }
    .container-inputs {
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    .form-description {
        font-size: 11px;
        margin-top: 18px;
    }
    .click-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    button {
    margin: 0 auto;
    // margin-left:85px;
    }
    .member {
        margin: 0 auto;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    }
}
 