$background-color: #1b1c21;
$card-color:#222328;
$text-white: #f3f5f8;
$text-grey: #afb0b7;
$text-disabled: #707178;
$enable-rfs: false;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
body {
    background-color: $background-color;
    color: $text-white;
}
.main-card {
    background-color: $card-color;
    border-radius: 25px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
form {
    
    padding: 0 10px;
    h2, h3 {
        text-align: center;
    }
    h2 + p {
       color: $text-white;
    }
    h2 {
        margin-top: 40px;
        }
    h3 {
        font-size: 18px;
        color: rgb(157,117,208);
        background-image: linear-gradient(10deg, rgb(174, 128, 234) 0%, rgb(248, 116, 154) 100%);
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        z-index: 1;
    }
    p {
        font-size: 14px;
        margin-top: 30px;
        margin-bottom: 0;
    }
    .sign-up {
        margin-top: 5px;
        font-size: 10px;
        color: $text-grey;
    }
    // .text-content {
    //     padding-left: ;
    // }
    
}
.smoke-img {
    border-radius: 25px 0px 0px 25px;
}
img.responsive-md {
    display: none;
}
.container-inputs {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.input-row {
    display: flex;
}

label {
    font-size: 10px;
    color: $text-grey;
    padding-left: 2px;
    margin-top: 10px;
}
input {
    font-family: 'Mulish', sans-serif;
    background-color: #E0E0E2;
    font-size: 12px;
    width: 182px;
    height: 27px;
    border-radius: 8px;
    border: none;
    outline: none;
    padding-left: 5px;
    padding-bottom: 1px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.6);
}
input:hover:not(:focus) {
    background-color: #B8B3C8;
    transform: scale(1.03);

    // &:active {
    //     transform: scale(.98);
    // }
}
input:focus { 
        border: 2px solid #B8B3C8;
        background-color: #B8B3C8;
        transform: scale(1);
    }
input:valid {
    transition: 0.3s;
    border: 1px solid #78f783;
}
input[type=email]:invalid {
    border:1px solid #fa1d1d;
    
}
.container-lg {
    max-width: 960px;
    margin-top: 80px;
}
label,input{
  display:flex;
  flex-direction:column;
}
.button {
    // margin: 0 auto;
    margin-top: 20px;
    height: 30px;
    width: 137px;
  
}
button {
    color: #2F2F2F;
    font-size: 12px;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 195px;
    border: none;
    background: rgb(157,117,208);
    background-image: linear-gradient(20deg, rgba(174, 128, 234, 0.538) 0%, rgba(174, 128, 234, 0.538) 10%,rgba(184, 104, 135, 0.863) 100%);
    box-shadow: 0px 3px 20px rgba(0,0,0,0.6);
    transition: 0.3s;
    background-size: 140% auto;
    &:hover {
        transform: scale(1.03);
        transition: 0.2s;
        background-position: right center;
    }
    &:active {
        transform: scale(0.98);
    }
}
.member {
    font-size: 12px;
    // text-align: center;
    margin-top: 30px;
    margin-left: 170px;
    padding-left:10px;
    color: $text-grey;
    outline: none;
}
a {
    color: #d8799d;
    text-decoration: none;
    &:visited {
        color: #d8799d;
    }
}
// .button {
//     margin-left: 23px;
// }
@media (min-width: 991px){
    input{
        width: 240px;
    }
//     .input-col {
//     display: flex;
//     justify-content: center;
// }
}
@media (max-width: 991px) {
.container-lg {
    max-width: 720px;
    margin-top: 80px;
}
}
@media (max-width: 767px) {
    .container-lg {
        max-width: 460px;
    }
    .smoke-img {
        display: none;
    }
    img.responsive-md {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 25px 25px 0 0;
    }
    .container-inputs {
        margin-left: 17px;
        margin-top: 15px;
        
    }
    .member {
        margin-top: 20px;
    }
}

@media (max-width: 574px) {
    .col-sm {
        max-width: 199px;
    }
}