$background-color: #1b1c21;
$card-color:#222328;
$text-white: #f3f5f8;
$text-grey: #afb0b7;
$text-disabled: #707178;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
body {
    background-color: $background-color;
    color: $text-white;
}
.container-lg {
    max-width: 960px;
    margin-top: 80px;
}
.main-card {
    background-color: $card-color;
    border-radius: 25px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
form {
    padding: 0 10px;
    h2, h3 {
        text-align: center;
    }
    h2 + p {
       color: $text-white;
    }
    h2 {
        margin-top: 40px;
        }
    h3 {
        font-size: 18px;
        color: rgb(157,117,208);
        background-image: linear-gradient(10deg, rgb(174, 128, 234) 0%, rgb(248, 116, 154) 100%);
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        z-index: 1;
    }
    p {
        font-size: 14px;
        margin-top: 30px;
        margin-bottom: 0;
    }
    .sign-up {
        margin-top: 5px;
        font-size: 10px;
        color: $text-grey;
    }

}
.smoke-img {
    border-radius: 25px 0px 0px 25px;
}
img.responsive-md {
    display: none;
}
.container-inputs {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
label {
    font-size: 10px;
    color: $text-grey;
    padding-left: 2px;
    margin-top: 10px;
}
input {
    font-family: 'Mulish', sans-serif;
    background-color: #ada6c1;
    font-size: 12px;
    color: $background-color;
    width: 182px;
    height: 27px;
    border-radius: 8px;
    border: none;
    outline: none;
    padding-left: 5px;
    padding-bottom: 1px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.6);

    &:focus { 
        background-color: #F1E6F9;
        transform: scale(1);
    }
    &:focus::placeholder {
  color: transparent;
    }
    &:focus:hover {
    pointer-events: none;
}
    &:hover:not(:focus) {
    background-color: #F1E6F9;
    transform: scale(1.03);
    }
    &:not(:placeholder-shown):invalid {
    border-bottom:1px solid #fa1d1d;
    }  
    &[type=email]:invalid {
    border-bottom:1px solid #fa1d1d;
    }
}
::placeholder {
    color: #747578;
}
label,input{
  display:flex;
  flex-direction:column;
}
.button {
    margin-top: 30px;
    height: 30px;
    width: 137px;
}
button {
    color: $background-color;
    font-size: 12px;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 194px;
    border: none;
    background: rgb(157,117,208);
    background-size: 130% auto;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.6);
    background-image: linear-gradient(20deg, 
                        rgba(174, 128, 234, 0.538) 0%, 
                        rgba(174, 128, 234, 0.538) 10%,
                        rgba(184, 104, 135, 0.863) 80%,
                        rgba(255,172,39,1) 110%);
    transition: 0.3s;
    
    &:hover {
        transform: scale(1.03);
        transition: 0.2s;
        background-position: right center;
    }
    &:active {
        transform: scale(0.98);
    }
}
.member {
    font-size: 12px;
    // text-align: center;
    margin-top: 15px;
    margin-left: 169px;
    padding-left:10px;
    color: $text-grey;
    outline: none;
}
a {
    color: #d8799d;
    text-decoration: none;
    &:visited {
        color: #d8799d;
    }
    &:hover {
    color: #F1E6F9;
    }
}

@media (min-width: 991px){
    input{
        width: 240px;
    }
}
@media (max-width: 991px) {
    .container-lg {
    max-width: 720px;
    margin-top: 80px;
    }
    button {
    margin: 0;
    margin-left:130px;
    }
    .member {
    margin: 0;
    margin-left:105px;
    margin-top: 10px;
    }
}
@media (max-width: 767px) {
    .container-lg {
        max-width: 460px;
    }
    .smoke-img {
        display: none;
    }
    img.responsive-md {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 25px 25px 0 0;
    }
    .container-inputs {
        margin-left: 17px;
        margin-top: 15px;
        
    }
    p {
        margin-left: 16px;
        margin-right: 7px;
    }
    .member {
        margin-top: 15px;
        margin-bottom: 15px;

    }
}

@media (max-width: 574px) {
    .col-sm-6 {
        max-width: 199px;
    }
}